body {
    background-color: red;
}

.image{
    border: 5px solid black;
    border-radius: 7px;
    height: 400px;
  width: 80vw;
  display: block;
  margin: auto;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 2.2px solid #a0a0a0;
    background-color: #f2f2f2;
    padding: 7px 13px;
}

.link-button:hover {
    background-color: #bfbfbf;
  }
